<style>
  .work-experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .experience-item {
    display: flex;
    align-items: flex-start;
  }
  .logo-container {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;  /* Prevent logo container from shrinking */
  }
  .logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;  /* Allow details to grow and fill available space */
  }
  .company {
    font-weight: bold;
    font-size: 1.1em;
  }
  .position {
    font-style: italic;
  }
  .description {
    margin-top: 5px;
  }
</style>

<div class="work-experience">
  <div class="experience-item">
    <div class="logo-container">
      <img src="/assets/img/google_logo_2.jpeg" alt="Google Logo" class="logo">
    </div>
    <div class="details">
      <span class="company">Google Gemini</span>
      <span class="position">Software Engineer (Nov 2023 - Present) </span>
      <p class="description">Developing advanced AI models for tool use in Gemini.</p>
    </div>
  </div>

  <div class="experience-item">
    <div class="logo-container">
      <img src="/assets/img/google_logo_2.jpeg" alt="Google Logo" class="logo">
    </div>
    <div class="details">
      <span class="company">Google Assistant</span>
      <span class="position">Research Intern (Summer 2022)</span>
      <p class="description">Conducted research on parsing realistic task-oriented dialogs. Published and presented a <a href="https://aclanthology.org/2023.emnlp-main.667/">paper</a> at EMNLP 2023.</p>
    </div>
  </div>

  <div class="experience-item">
    <div class="logo-container">
      <img src="/assets/img/verneek_logo_3.png" alt="Verneek Logo" class="logo">
    </div>
    <div class="details">
      <span class="company">Verneek.ai</span>
      <span class="position">NLP Research Intern (Summer 2021)</span>
      <p class="description">Developed NLP models on semantic parsing and closed-domain natural language generation.</p>
    </div>
  </div>

  <div class="experience-item">
    <div class="logo-container">
      <img src="/assets/img/amazon_alexa_logo.webp" alt="Amazon Alexa Logo" class="logo">
    </div>
    <div class="details">
      <span class="company">Amazon Alexa AI</span>
      <span class="position">Applied Scientist Intern (Summer 2020)</span>
      <p class="description">Worked with Alexa NLU team on Cross-Lingual Transfer Learning.</p>
    </div>
  </div>

  <div class="experience-item">
    <div class="logo-container">
      <img src="/assets/img/exl_logo.jpeg" alt="EXL Analytics Logo" class="logo">
    </div>
    <div class="details">
      <span class="company">EXL Analytics</span>
      <span class="position">Senior Consultant/Consultant (2014-2017)</span>
      <p class="description">Worked on multiple projects with various retail banking clients on: report automation
        with SAS and Excel VBA (front-end and back-end), engineering features and developing ML models on customer data for mitigating risk in credit card portfolios</p>
    </div>
  </div>
</div>